{% extends "base.html" %}

{% block content %}

<form action="/users/{{ current_user.id }}/edit" method="POST">
  <label for="first_name">First Name:</label>
  <input type="text" name="first_name" id="first_name" value="{{ current_user.first_name }}" required>
  <br>
  <label for="last_name">Last Name:</label>
  <input type="text" name="last_name" id="last_name" value="{{current_user.last_name}}" required>
  <br>
  <label for="image_url">Profile Picture URL:</label>
  <input type="url" name="image_url" id="image_url" value="{{current_user.image_url}}">
  <a href="/users/{{current_user.id}}"><button>Cancel</button></a>
  <button>Save</button>
</form>

{% endblock %}