{% extends "base.html" %}
{% block content %}

<div>
  <h2>{{ current_user.first_name }} {{ current_user.last_name }}</h2>
  <img src="{{ current_user.image_url }}" alt="Profile picture of {{ current_user.first_name }} {{ current_user.last_name }}">
</div>
<a href="/users"><button>Go Back</button></a>

<a href="/users/{{current_user.id}}/edit"><button>Edit</button></a>

<form action="/users/{{current_user.id}}/delete" method="POST">
  <button>Delete</button>
</form>

<div>
  {% for msg in get_flashed_messages() %}
    <h3>{{msg}}</h3>
  {% endfor %}
  <h3>Posts</h3>
  <ul>
    {% for post in posts %}
      <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <!-- TODO: fix this link -->
  <form action="/users/{{ current_user.id }}/posts/new"><button>Add Post</button></form>
</div>
<!-- Test working -->

{% endblock %}